/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* Generic boilerplate stuff */
body, html { padding: 0; margin: 0; } *, *::before, *::after { box-sizing: border-box; }

/* Variables */
:root {
    --primary-bg-color: rgb(51, 51, 51);
    --secondary-bg-color: grey;

    --primary-text-color: white;
    --secondary-text-color: black;

    --character-panel-bg-color: black;
    --character-panel-bg-color-hover: rgb(53, 53, 53);

    --combo-notation-height: 2rem;
}

/* Actual content */
.App {
    width: 100%;
    min-height: 100vh;

    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    position: absolute;
    top: 0;

    font-family: 'Montserrat', sans-serif;
}

.App .content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

a {
    color: rgb(166, 255, 255);
}

a:hover {
    color:rgb(123, 182, 182);
}