/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* Generic boilerplate stuff */
body, html { padding: 0; margin: 0; } *, *::before, *::after { box-sizing: border-box; }

/* Variables */
:root {
    --primary-bg: #080808;
    --secondary-bg: #2a2a2b;
    --right-side-content-bg: #1f1f1f;
    --character-sidebar-bg: rgba(54, 54, 54, 0.6);
    --character-sidebar-bg-hover: rgba(54, 54, 54, 0.6);

    --primary-text-color: white;
    --secondary-text-color: black;

    --character-panel-bg-color: black;
    --character-panel-bg-color-hover: rgb(51, 51, 51);
    --character-panel-border-radius: 10px;

    --combo-notation-height: calc(1.5vmin + 1rem);
}

/* Actual content */
html {
    scroll-behavior: smooth;
}

.App {
    width: 100%;
    min-height: 100vh;
    background: var(--primary-bg);

    color: var(--primary-text-color);

    position: absolute;
    top: 0;

    font-family: 'Montserrat', sans-serif;
}

.App .content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

a {
    color: rgb(139, 255, 255);
    height: 0;
    width: 0;
}

a:hover {
    color:rgb(123, 182, 182);
}

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    background: rgb(51, 51, 51);
}
::-webkit-scrollbar-thumb {
    background: grey;
    height: 2rem;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 91, 91);
}
.noscroll {
    position: fixed;
    overflow-y: scroll;
}

.small-margin-content * {
    margin: 0.1rem;
}

/* Moving background gradient */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}