.right-side-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0 4rem;
}

.right-side-content .character-guide {
    height: 100%;
    background-color: rgb(59, 59, 59);
    padding: 2rem 3rem;
}

.character-topbar {
    min-height: 7rem;
    background-color: grey;
    padding: 0.2rem 1rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.character-topbar h1 {
    font-size: 250%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.character-topbar button {
    border: none;
    display: block;
    background-color: transparent;
    color: white;
    height: 100%;
    font-size: 2rem;
}

.character-topbar button:hover {
    cursor: pointer;
    color: rgb(211, 211, 211);
}

.character-info:not(:first-child) {
    padding-top: 2rem;
}

.character-info:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}

.character-info > h2 {
    margin-top: 0;
    font-size: 200%;
}

table.punishment, table.framedata {
    width: 100%;
    border-spacing: 2px 0;
}

table.punishment th, table.punishment td {
    padding: 2px 4px;
    width: 20%;
}

table.framedata th, table.framedata td {
    padding: 2px 4px;
    width: calc(100%/7);
}

tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
}

tr:nth-child(even) {
    background-color: rgb(105, 105, 105);
}


.character-info.overview {
    overflow: hidden;
}

.character-info.overview img {
    float: right;
    height: 20rem;
}

.character-info.combos video {
    width: 35%;
}

.character-info.combos .combo-notation {
    display: flex;
    background-color: rgb(85, 85, 85);
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5rem;
    align-items: center;
    font-size: var(--combo-notation-height);
    font-weight: 900;
    text-transform: uppercase;
    flex-wrap: wrap;
    gap: 0.5rem 0;
    margin: 0.5rem 0;
}

.character-info.combos h3 {
    margin-bottom: 0;
}

.character-info.combos h3:not(:first-child) {
    margin-top: 3rem; 
}

.character-info.combos .combo-notation a {
    margin-left: 1rem;
}