.top-bar {
    display: flex;
    align-items: center;
    padding: 1.5rem 25vmin;
    background-color: black;
    width: 100%;
    gap: 0 3rem;
}

.top-bar button.home-button {
    margin-right: auto;
}

.top-bar button {
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    font-weight: 100;
}

.top-bar button:hover {
    cursor: pointer;
    color: rgb(203, 203, 203);
}

@media screen and (orientation: portrait) {
    .top-bar {
        padding: 1.5rem 0;
        gap: 0;
    }
}